.not_found {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  max-width: 360px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
}

.message {
  padding-top: 17px;
  padding-left: 27px;
}
