.main {
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
}

.main_detail {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
