.search_result {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
}
.cell {
  width: 40%;
  padding: 4px;
  border: 1px solid #ccc;
}

.cell:last-of-type {
  width: 60%;
}
